<h2> New Job Cards </h2>

<div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Job Card S524376 #1
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        Header Details
        <button type="button" class="btn btn-info btn-block">Complete Job Card</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Job Card S52437p6 #2
      </a>
    </div>
    <div id="collapseTwo" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        Header Details
        <button type="button" class="btn btn-info btn-block">Complete Job Card</button>
      </div>
    </div>
  </div>


</div>