<div class="container">           
  <button type="button" class="btn btn-info btn-block">Manage Employee Accounts</button>
  <button type="button" class="btn btn-info btn-block">Create Job Cards</button>
  <button type="button" class="btn btn-info btn-block">Review Job Cards</button>
</div>