<% include templates/head%>
<% include templates/nav%>
<br><br>
<div class="container">   
<div class="row">

	<div class="col-md-6">
		<br>
		<% include partials/jobcardsnotif%>		
	</div>
	
</div>
</div>

<%include templates/footer%>