<% include templates/head%>
<!-- <% include templates/nav%> -->

<div class="pos-f-t">

  <nav class="navbar navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top_level_menu" aria-controls="top_level_menu" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  </nav>

  <div class="collapse" id="top_level_menu">
	<div class="bg-dark p-4 row text-center text-white no-margin">
		<div class="col-sm-12"><h3>Filter the results</h3><hr></div>
		<div class="col-sm-3 navbar-toggler filters" data-toggle="collapse" data-target="#filter_date" aria-controls="filter_date" aria-expanded="false" aria-label="Toggle navigation"><p>Date</p></div>
		<div class="col-sm-3 navbar-toggler filters" data-toggle="collapse" data-target="#filter_number" aria-controls="filter_date" aria-expanded="false" aria-label="Toggle navigation"><p>Job Number</p></div>
		<div class="col-sm-3 navbar-toggler filters" data-toggle="collapse" data-target="#filter_location" aria-controls="filter_date" aria-expanded="false" aria-label="Toggle navigation"><p>Job Location</p></div>
		<div class="col-sm-3 navbar-toggler filters" data-toggle="collapse" data-target="#filter_status" aria-controls="filter_date" aria-expanded="false" aria-label="Toggle navigation"><p>Status</p></div>
	  <!-- <h4 class="text-white">Collapsed content</h4>
	  <span class="text-muted">Toggleable via the navbar brand.</span> -->
	</div>
</div>
<div class="collapse" id="filter_date">
	<div class="bg-primary p-4 row text-center text-white no-margin">
		<form class="col-sm-12">
			<label class="my-1 mr-2" for="date_pref">Preference</label>
			<select class="custom-select my-1 mr-sm-2" id="date_pref">
				<option selected>Choose...</option>
				<option value="1">Oldest First</option>
				<option value="2">Newest First</option>
			</select>

			<button type="submit" class="btn btn-primary my-1">Filter</button>
		</form>
	</div>
</div>

<div class="collapse" id="filter_number">
	<div class="bg-primary p-4 row text-center text-white no-margin">
		<form class="col-sm-12">
			<div class="form-group row">
				<label for="filter_search" class="col-2 col-form-label">Search</label>
				<div class="col-10">
					<input class="form-control" type="search" value="How do I shoot web" id="filter_search">
				</div>
			</div>
		</form>
	</div>
</div>

<div class="collapse" id="filter_location">
	<div class="bg-primary p-4 row text-center text-white">
		<form class="col-sm-12">
			<label class="my-1 mr-2" for="date_pref">Preference</label>
			<select class="custom-select my-1 mr-sm-2" id="date_pref">
				<option selected>Choose...</option>
				<option value="1">Germiston CBD</option>
				<option value="2">Knites</option>
				<option value="3">blahblah</option>
			</select>

			<button type="submit" class="btn btn-primary my-1">Filter</button>
		</form>
	</div>
</div>

<div class="collapse" id="filter_status">
	<div class="bg-primary p-4 row text-center text-white">
		<form class="col-sm-12">
			<label class="my-1 mr-2" for="date_pref">Preference</label>
			<select class="custom-select my-1 mr-sm-2" id="date_pref">
				<option selected>Choose...</option>
				<option value="1">Active</option>
				<option value="2">Pending</option>
				<option value="3">Closed</option>
			</select>

			<button type="submit" class="btn btn-primary my-1">Filter</button>
		</form>
	</div>
</div>



<br><br>
<div class="container">
<div class="row">

	<div class="col-md-3"></div>
	<div class="col-md-6">
		<!-- <div class="row"> -->
				
			<div class="card border-secondary mb-3 shadow">
				<div class="row container-fluid card-header no-margin">
					<div class=" col-6"><p class="text-left">Job NO: 686943</p></div>
					<div class=" col-6"><p class="text-right">Date: 23/01/18</p></div>
				</div>
				<div class="card-body text-secondary">
					<h5 class="card-title">Status : panding</h5>
					<p class="card-text">location : Katlegong ext: 5</p>
				</div>
				<div class="row">
					<div class="col-12">
						<button type="button" class="btn btn-default col-12 job_modal" data-job="686943" data-toggle="modal" data-target=".Large_card">view card</button>
					</div>
				</div>
			</div>

			<div class="card border-secondary mb-3 shadow">
				<div class="row container-fluid card-header no-margin">
					<div class=" col-6"><p class="text-left">Job NO: 786943</p></div>
					<div class=" col-6"><p class="text-right">Date: 21/11/18</p></div>
				</div>
				<div class="card-body text-secondary">
					<h5 class="card-title">Status : active</h5>
					<p class="card-text">location : Germiston CBD</p>
				</div>
				<div class="row">
					<div class="col-12">
						<button type="button" class="btn btn-default col-12 job_modal" data-job="786943" data-toggle="modal" data-target=".Large_card">view card</button>
					</div>
				</div>
			</div>
		<!-- </div> -->
		<!-- <br> -->
		<!-- <% include templates/jobcardsnotif%> -->

	</div>
	<div class="col-md-3"></div>

	<div class="modal Large_card">
            <div class="modal-dialog">
                <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Job Card Number : <span id="moda_card_number"></span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="avatar"></div>
					<div class="row">
						<div class="col-sm-6">
							<h3>Job Details</h3>
							<div class="col-ms-6">Permit number : GE8934 <br>
								Asset Name : Lorem Name<br>
								Created by : Lorem Name <br>
								Creation date : 01/01/12 <br>
								Due date : 07/01/12
							</div>
						</div>
						<div class="col-sm-6">
							<h3>Address</h3>
							<address>
								stand no 564, Disneyland<br>
								PTA
							</address>
						</div>
						<div class="col-12">
							<div class="strike">
								<span>Activity</span>
							</div>
							<div class="card px-3"><p>Primary Substation Inspection</p></div>
						</div>
						<div class="col-12">
							<div class="strike">
								<span>Comments</span>
							</div>
							<div class="card px-3"><p>this and that happend</p></div>
						</div>
						<div class="col-12">
							<div class="strike">
								<span>Assigned to</span>
							</div>
							<ul class="list-group">
								<li class="list-group-item">Sfiso Wilson</li>
								<li class="list-group-item">Iron Man</li>
								<li class="list-group-item">Bat Man</li>
							</ul>
						</div>
					</div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

                </div>
            </div>
        </div>
    </div>

</div>
</div>

	
<%include templates/footer%>