<% include templates/head %>
<!-- HIDDEN DYNAMIC ELEMENT TO CLONE -->
<!-- you can replace it with any other elements -->
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="form-group dynamic-element" style="display:none">
      <div>
      <div class="col-md-2"></div>
      <!-- Replace these fields -->
      <h3>Cable Marking</h3>
        <div class="form-group">
          <label for="correct">Correctly Placed, <span>(on the cable at the top or bottom)<b>Cable 1</b></span></label>
          <select class="form-control">
            <option value="YES">YES</option>
            <option value="NO" selected>NO</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tag">Securely Placed, <span>(Tag fitted)?</span></label>
          <select class="form-control">
            <option value="YES">YES</option>
            <option value="NO" selected>NO</option>
          </select>
        </div>
        <div class="form-group">
          <label for="label">Label Level Correct, <span>(Placed at the top or bottom)?</span></label>
          <select class="form-control">
            <option value="YES">YES</option>
            <option value="NO" selected>NO</option>
          </select>
        </div>
        <h3>House Breaker</h3>
        <div class="form-group">
          <label for="fitted">Securely fitted, Not hanging</label>
          <select class="form-control">
            <option value="YES">YES</option>
            <option value="NO" selected>NO</option>
          </select>
        </div>
        <div class="form-group">
          <label for="fitted">Size, please specify?</label>
          <select class="form-control">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="88">88</option>
            <option value="120">120</option>
            <option value="85">85</option>
          </select>
        </div>
        <div class="form-group">
          <label for="fitted">Meters secured and labelled?</label>
          <select class="form-control" onchange="meterSelectCheck(this);">
            <option value="YES">YES</option>
            <option value="NO">NO</option>
            <option value="NA">N/A</option>
          </select>
        </div>
        <div id="meterAvailable" style="display:none;">
          <div class="form-group">
            <label for="fitted">Meters Seals Installed?</label>
            <select class="form-control">
              <option value="YES">YES</option>
              <option value="NO" selected>NO</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fitted">Meters Seals Colour</label>
            <select class="form-control">
              <option value="" selected disabled hidden>Choose here</option>
              <option value="Blue">BLUE</option>
              <option value="Green">GREEN</option>
              <option value="Yellow">YELLOW</option>
              <option value="Red">Red</option>
            </select>
          </div>
          <div class="form-group">
            <label for="fitted">Any Meter Bypassed?</label>
            <select class="form-control">
              <option value="YES">YES</option>
              <option value="NO" selected>NO</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="fitted">Stands Connected to Enclosure, please specify stand no.</label>
          <input class="form-control" type="text" name="stand_no" placeholder="Please specify stand number">
        </div>
        <!-- End of fields-->
        <div class="col-md-1">
          <button type="button" name="button"class="delete btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
    <!-- END OF HIDDEN ELEMENT -->
    <div class="form-container">
      <form class="form-horizontal">
      <fieldset>
      <!-- Form Name -->
      <legend class="title">Cables and House Breakers</legend>

      <div class="dynamic-stuff">
        <!-- Dynamic element will be cloned here -->
        <!-- You can call clone function once if you want it to show it a first element-->
      </div>

      <!-- Button -->
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
              <button type="button" class="add-one btn btn-primary">Add More</button>
          </div>
        </div>
      </div>
    </fieldset>
    </form>
    </div>
    </div>
  <div class="col-sm-3"></div>
</div>
<% include templates/footer %>
