<% include templates/head %>
<% include templates/nav %>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="form-group dynamic-element" style="display:none">
      <div id="cable0">
      <div class="col-md-2"></div>
      <h3>Cable Marking</h3>
        <div class="form-group">
          <label for="correct">Correctly Placed, <span>(on the cable at the top or bottom)<b>Cable <span id="cableNumber0"></span></b></span></label>
          <select class="form-control" name="correct[]" required>
            <option value="">--Please Select--</option>
            <option value="YES">YES</option>
            <option value="NO">NO</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tag">Securely Placed, <span>(Tag fitted)?</span></label>
          <select class="form-control" name="tag[]" required>
            <option value="">--Please Select--</option>
            <option value="YES">YES</option>
            <option value="NO">NO</option>
          </select>
        </div>
        <div class="form-group">
          <label for="label">Label Level Correct, <span>(Placed at the top or bottom)?</span></label>
          <select class="form-control" name="label[]">
            <option value="">--Please Select--</option>
            <option value="YES">YES</option>
            <option value="NO">NO</option>
          </select>
        </div>
        <h3>House Breaker</h3>
        <div class="form-group">
          <label for="fitted">Securely fitted, Not hanging</label>
          <select class="form-control" name="fitted[]" required>
            <option value="">--Please Select--</option>
            <option value="YES">YES</option>
            <option value="NO">NO</option>
          </select>
        </div>
        <div class="form-group">
          <label for="size">Size, please specify?</label>
          <select class="form-control" name="size[]" required>
            <option value="">--Please Select--</option>
            <option value="88">88</option>
            <option value="120">120</option>
            <option value="85">85</option>
          </select>
        </div>
        <div class="form-group">
          <label for="meter">Meters secured and labelled?</label>
          <select id="meterCheck0" class="form-control" onchange="meterSelectCheck(this);" name="meter" required>
            <option value="">--Please Select--</option>
            <option value="YES">YES</option>
            <option value="NO">NO</option>
            <option value="NA">N/A</option>
          </select>
        </div>
      <fieldset id="meterC0" disabled="">
        <div class="meterAvailable0" id="meterA0" style="display:none;">
          <div class="form-group">
            <label for="meterSeals">Meters Seals Installed?</label>
            <select class="form-control" name="meterSeals[]" required>
              <option value="">--Please Select--</option>
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
          </div>
          <div class="form-group">
            <label for="meterSealsColour">Meters Seals Colour</label>
            <select class="form-control" name="meterSealsColour[]" required>
              <option value="">--Please Select--</option>
              <option value="Blue">BLUE</option>
              <option value="Green">GREEN</option>
              <option value="Yellow">YELLOW</option>
              <option value="Red">Red</option>
            </select>
          </div>
          <div class="form-group">
            <label for="meterBypassed">Any Meter Bypassed?</label>
            <select class="form-control" name="meterBypassed[]" required>
              <option value="">--Please Select--</option>
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
          </div>
        </div>
      </fieldset>
        <div class="form-group">
          <label for="standConnected">Stands Connected to Enclosure, please specify stand no.</label>
          <input class="form-control" type="text" name="stand_no" placeholder="Please specify stand number" required>
        </div>
        <div class="col-md-1">
          <button type="button" id="delete0" name="button"class="delete btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
    <div class="form-container">
      <form class="form-horizontal" id="myform" onsubmit="saveInputs()">
          <fieldset>
            <legend class="title">Cables and House Breakers</legend>

            <div class="dynamic-stuff">
            </div>

            <!-- Button -->
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                    <button type="button" class="add-one btn btn-primary" onclick="add();" >Add More</button>
                </div>
              </div>
            </div>
          </fieldset>
          <h3>Condition of Box</h3>
          <div class="form-group">
            <label for="boxDoor">Can all the doors be opened, and secured?</label>
            <select class="form-control" name="boxDoor" required>
              <option value="">--Please Select--</option>
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
          </div>
          <div class="form-group">
            <label for="boxDamage">Visible body damage?</label>
            <select class="form-control" name="boxDamage" required>
              <option value="">--Please Select--</option>
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
          </div>
          <div class="form-group">
            <label for="plinthVisible">Plinth Visible?</label>
            <select class="form-control" name="plinthVisible" onchange="plinth(this);" required>
              <option value="">--Please Select--</option>
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
          </div>
          <fieldset id="plinthV" disabled="">
            <div id="plinth" style = "display: none;">
              <div class="form-group">
                <label for="plinthCondition">Plinth in a good Condition, if no please state defect?</label>
                <select class="form-control" name="plinthConditions" onchange="plinthCondition(this);" required>
                  <option value="">--Please Select--</option>
                  <option value="YES">YES</option>
                  <option value="NO">NO</option>
                </select>
              </div>
            </div>
          </fieldset>
          <fieldset id="plinthC" disabled="">
            <div id="plinthCondition" style = "display: none;">
              <div class="form-group">
                <label for="plinthDefect">State Defect</label>
                <input class="form-control" type="text" name="plinthDefect" required>
              </div>
            </div>
          </fieldset>
          <h3>Electronics (If Applicable)</h3>
          <div class="form-group">
            <label for="electronics">Electronics Available?</label>
            <select class="form-control" onchange="electronics(this);" name="electronic" required>
              <option value="">--Please Select--</option>
              <option value="YES">YES</option>
              <option value="NO">NO</option>
            </select>
          </div>
          <fieldset id="elec" disabled="">
          <div id="electronics" style = "display: none;">
            <div class="form-group">
              <label for="electSecure">Fitted Securely?</label>
              <select class="form-control" name="electSecure" required>
                <option value="">--Please Select--</option>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
              </select>
            </div>
            <div class="form-group">
              <label for="electDoor">All Doors in Operation?</label>
              <select class="form-control" name="electDoor" required>
                <option value="">--Please Select--</option>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
              </select>
            </div>
            <div class="form-group">
              <label for="electTransponder">Transponder Secure?</label>
              <select class="form-control" name="electTransponder" required>
                <option value="">--Please Select--</option>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
              </select>
            </div>
            <div class="form-group">
              <label for="electDoorBypassed">Door Bypassed?</label>
              <select class="form-control" name="electDoorBypassed" required>
                <option value="">--Please Select--</option>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
              </select>
            </div>
            <div class="form-group">
              <label for="battery">Battery Installed?</label>
              <select class="form-control" name="battery" required>
                <option value="">--Please Select--</option>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
              </select>
            </div>
            <div class="form-group">
              <label for="working">In a working condition?</label>
              <select class="form-control" name="working" required>
                <option value="">--Please Select--</option>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
              </select>
            </div>
            <div class="form-group">
              <label for="remote">Remote Devices Working?</label>
              <select class="form-control" name="remote" required>
                <option value="">--Please Select--</option>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
              </select>
            </div>
          </div>
        </fieldset>
           <button type="submit" class="btn btn-success" id="submit">Submit Form</button>
        </form>
      </div>
    </div>
  <div class="col-sm-3"></div>
</div>
<% include templates/footer %>
