<% include templates/head.ejs %>
<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="/login" method="POST" id="loginForm">
                    <input name="user" id="login_user" type="text" placeholder="Employee Id">
                    <input type="password" id="login_password" placeholder="Password">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>



                <div class="status"></div>
            </div>
        </div>

                <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create new Password</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="avatar"></div>
                        <div class="form-box">
                            <form action="/login" method="POST" id="passwordForm">
                                <input id="cpassword" type="password" placeholder="New password">
                                <input type="password" id="ccpassword" placeholder="Confirm password">
                                <button class="btn btn-info btn-block login" type="submit">Create password</button>
                            </form>
                            </div></div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

                </div>
            </div>
        </div>
    </div>
<% include templates/footer.ejs %>
