<% include templates/head.ejs %>
    <div class="container-fluid row vh-100 no-margin no-padding">
        <div class="h-100 d-inline-block col-sm-6 no-padding">pic</div>
        <div class="h-100 d-inline-block col-sm-6">form</div>
    </div>
<% include templates/footer.ejs %>