
<form action="/createjobcard" method="post">
  <div class="form-group">
    <label for="jobcard">Jobcard Number:</label>
    <input type="text" class="form-control" id="jobcard">
  </div>
  <div class="form-group">
    <label for="assest">Asset:</label>
    <select id='asset_name' class="form-control" onchange="getdescriptions(<%=JSON.stringify(assets)%>)">
      <option></option>
            <% if (assets) {%>
      <% assets.forEach(function (asset){%>
      <option>
      <%= asset.name %>
      </option>
      <%})%>
      <%}%>

    </select>
  </div>

    <div class="form-group">
    <label for="description">Asset Description:</label>
    <p id="asset_description" class="text-secondary">
      <i>no asset selected</i>
    </p>
  </div>

  <div class="form-group">
    <label for="duedate">Required By:</label>
    <input id="datepicker" class="form-control" width="276" />
</div>

  </div>

    <div class="form-group">
    <label for="activity">Activity:</label>
    <select class="form-control">
      <option>Primary Substation Inspection</option>
      <option>Secondary Substation Inspection</option>
    </select>
  </div>

     <div class="form-group">
    <label for="assign">Assign Job Card (Upto 3 Employees)</label>
    <select class="form-control">
    <% if (users) {%>
      <% users.forEach(function (user){%>
      <option>
      <%= user.first_name +" "+user.last_name  %>
      </option>
      <%})%>
      <%}%>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary">Create Job Card</button>
</form>
