<footer class="text-center footerbg">
    EMM &copy; 2019
</footer>
<script src="js/script.js"></script>
<script src="js/form.js?n=1"></script>
<script src="js/search.js"></script>
<script src="js/jobCard.js"></script>
</body>
</html>
