<div>           
  <button type="button" class="btn btn-info btn-block" value="useraccounts" onclick="getview()">Manage User Accounts</button>
  <button type="button" class="btn btn-info btn-block" value="createjobcard" onclick="getview()">Create Job Card</button>
  <button type="button" class="btn btn-info btn-block" value="reviewjobcards" onclick="getview()">Review Job Cards</button>
</div>