* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #cfd9df;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: 100vw;
    min-height: 100vh;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  display: none;
}

.fullwidth {
    width: 100vw;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.emm-body, .loginBody {
    width: 100vh;
    min-height: 100vh;
    position: relative;
}

.avatar{
    background-image: url('../img/ekurhuleni.png');
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-size: cover;
}

#dashboardBody, #loginBody, #accountsBody, #jobCardBody, #helpBody,#dashboardBodyUser, #assignedJobsBody, #createPasswordBody, #adminProfile {
    width: 100vw;
}

.top_nav, .usersJobCard {
    display: none;
}

.tile {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: aliceblue;
    border : 2px solid rgba(200, 200, 200, 0.1);
}

.tile  i {
    font-size: 20vw;
}
.tile p {
    font-weight: bold;
}

.emm-dark {
    color : #555;
}

.emm-light {
    color : #aaa;
}


.wrapper {
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

#sidebar.active, #sidebarUser.active {
    margin-left: 0;
}

#sidebar, #sidebarUser {
    width: 250px;
    position: fixed;
    top: 40px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header, #sidebarUser .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components, #sidebarUser ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p, #sidebarUser ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a, #sidebarUser ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover, #sidebarUser ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"], #sidebarUser ul li.active > a {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#content, #contentUser {
    display: none;
    font-size: 20px;
    top : 0px;
    left : 0px;
    height: 40px;
    padding: 0;
    margin: 0;
    clear: both;
}

.color1 {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,0.5) 0%, rgba(253,187,45,0.4) 100%);
}

input[type='text'], input[type='password'], input[type='email'], input[type='date'], select.form-control, input[type='checkbox'], input[type='search'] {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    border-radius: 20px;
    font-size: 16px;
    border: 1px groove rgba(0, 0, 0, 0.1);
    text-align: center;
}

.lightT {
    background-color: rgba(255, 255, 255, 0.2);
}

.no-margin {
    margin:0;
}

.plinthDefectParent, #conditionB, #elect, #meterC1, #addCableForm, .addCable, #conditionButton, .markJobFinished{
    display: none;
}

#conditionButton {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 1em;
}

.addCable {
    max-height: 100px;
}

